<form [formGroup]="signInForm" (ngSubmit)="submitForm()">
    <div class="caixa">

        <h3>Login</h3>

        <div class="username">
            <label>Username</label>
            <input formControlName="username" name="username" id="username" type="text" placeholder="Username" autocomplete="off"
            [ngClass]="{'is-invalid': errorControl['username'].errors?.['required'] && isSubmitted}">
            <span class="invalid-error" *ngIf="errorControl['username'].errors?.['required'] && isSubmitted">
                Campo Obrigatório
            </span>
        </div>

        <div class="senha">
            <label>Senha</label>
            <input formControlName="senha" name="senha" id="senha" type="password" placeholder="Senha" autocomplete="off"
            [ngClass]="{'is-invalid': errorControl['senha'].errors?.['required'] && isSubmitted}">
            <span class="invalid-error" *ngIf="errorControl['senha'].errors?.['required'] && isSubmitted">
                Campo Obrigatório
            </span>
        </div>

        <button type="submit" class="registar">Registar</button>

    </div>
</form>